
.app {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.container {
  position: absolute;

  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.container.top {
  top: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.container.bottom {
  bottom: 0;
  border-bottom: 1px solid black;
}

.container.right {
  right: 0;
  border-right: 1px solid black;
}

.container.left {
  left: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.login-bar {
  position: absolute;
  right: 0;
  top: 0;
}
